.idea

.env
auth/config.twitch
auth/request.token
auth/yt_secrets.json
auth/twitch_token

last_video_id
title_changes

youtube_token_response.json
twitch_validate_response.json

logs/*
!logs/.gitkeep
